.logoPrincipal {
    width: 200px;
}

.sombra {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

#inputSearch {
    max-width: 100%;
    border-radius: 20px;
    outline: none;
    text-indent: 40px;
    background-image: url('../../assets/lupa.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 15px;
    background-position-y: 8px;
    background-color: rgba(112, 112, 112, 0.1);
    border: none;
    padding: 6px;
    transition: 1s;
    box-shadow: none;
}

.navlink {
    color: var(--navlink) !important;
    text-decoration: none !important;
    transition: .2s !important;
}

.navlink:hover {
    color: var(--navlinkHover) !important;
}

.navButton {
    text-decoration: none !important;
    padding: 7px 40px !important;
    border-radius: 20px !important;
}

.navButton1 {
    color: var(--navlinkHover) !important;
    border: 1px solid var(--navlinkHover) !important;
    transition: .5s !important;
}

.navButton1:hover {
    background-color: var(--navlinkHover) !important;
    color: var(--white) !important;
}

.navButton2 {
    background-color: var(--navlinkHover) !important;
    border: 1px solid var(--white) !important;
    transition: .5s !important;
}

.navButton2:hover {
    color: var(--navlinkHover) !important;
    background-color: var(--white) !important;
    border: 1px solid var(--navlinkHover) !important;
}

#inputSearch:focus {
    outline: auto;
}

@media (max-width: 1400px) {
    #inputSearch {
        max-width: 100%;
        padding: 8px;
        margin-bottom: 10px;
    }
    .navButton {
        margin-bottom: 5px !important;
    }

    .logoPrincipal {
        width: 140px;
    }
}