.filtrosModulos {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.filtrosModulos button {
    text-decoration: none;
    color: var(--navlink);
    position: relative;
    display: inline-block;
    border: none;
    background-color: transparent;
}

.filtrosModulos button:hover {
    color: #707070;
}

.filtrosModulos button:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: #707070;
    display: block;
    margin-top: 2px;
}

.filtrosModulos button:hover:after,
.filtrosModulos button.ativo::after {
    width: 100%;
}

.parceirosTittle {
    text-decoration: none;
}

.parceirosTittle:hover {
    text-decoration: underline;
    color: #df2b3a;
}

.parceirosContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.size40 {
    max-width: 40ch;
}

.cursoContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 20px;
}

.cursoImagem {
    border-radius: 20px;
    max-width: 120px;
    height: 120px;
    Object-fit: cover;
}

.cursoTitle {
    max-width: 35ch;
    text-align: left;
}

.alignText {
    transform: translate3d(0, +40%, 0);
}

.cursoButton {
    text-decoration: none;
    padding: 4px 30px;
    border-radius: 20px;
    max-width: 20ch;
    border: 1px solid var(--navlinkHover);
    transition: .5s;
}

.cursoButton:hover {
    background-color: var(--white);
    color: var(--navlinkHover);
}

#verMais {
    padding: 8px 60px;
}

.containerMarginTop {
    margin-top: 100px;
}

@media (max-width: 1400px) {
    .containerMarginTop {
        margin-top: 90px;
    }
}

@media (max-width: 1200px) {
    .parceirosContainer {
        display: block;
    }

    .parceirosTittle {
        text-decoration: underline;
    }

    .parceiroContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cursoContainer {
        flex-direction: column;
    }

    
}