.filtrosModulos,
.cursoContainer,
.parceirosContainer,
.cursoTitleBox,
.cursoInfoBox,
.boxSingleInfoBox {
    display: flex;
}

.filtrosModulos {
    flex-direction: row;
    gap: 18px;
}

.filtrosModulos button {
    text-decoration: none;
    color: var(--navlink);
    position: relative;
    display: inline-block;
    border: none;
    background-color: transparent;
}

.filtrosModulos button:hover {
    color: #707070;
}

.filtrosModulos button:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: #707070;
    display: block;
    margin-top: 2px;
}

.filtrosModulos button:hover:after,
.filtrosModulos button.ativo::after {
    width: 100%;
}

.parceirosTittle {
    text-decoration: none;
}

.parceirosTittle:hover {
    text-decoration: underline;
    color: #df2b3a;
}

.parceirosContainer {
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.size40 {
    max-width: 40ch;
}

.cursoContainer {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
}

.cursoImagem {
    border-radius: 20px;
    width: 120px;
    height: 120px;
    Object-fit: cover;
}

.cursoTitleBox {
    align-items: center;
    gap: 15px;
}

.cursoTitle {
    width: 35ch;
    text-align: left;
}

.cursoInfoBox {
    align-items: center;
    flex-wrap: wrap;
    gap: 10px
}

.alignText {
    transform: translate3d(0, +40%, 0);
}

.cursoButton {
    text-decoration: none;
    padding: 4px 30px;
    border-radius: 20px;
    max-width: 20ch;
    border: 1px solid var(--navlinkHover);
    transition: .5s;
}

.cursoButton:hover {
    background-color: var(--white);
    color: var(--navlinkHover);
}

#verMais {
    padding: 8px 60px;
}

.boxSingleInfoBox {
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.containerMarginTop {
    margin-top: 100px;
}

@media (max-width: 1400px) {
    .containerMarginTop {
        margin-top: 90px;
    }
}

@media (max-width: 1200px) {
    .parceirosContainer {
        display: block;
    }

    .parceirosTittle {
        text-decoration: underline;
    }

    .parceiroContent {
        display: flex;
        align-items: center;
    }

    .cursoContainer,
    .cursoTitleBox,
    .parceiroContent {
        flex-direction: column;
    }

    .cursoTitleBox,
    .cursoImagem,
    .cursoTitle,
    .cursoInfoBox {
        width: 100%;
    }

    .cursoImagem {
        height: auto;
    }

    .cursoInfoBox {
        justify-content: start;
    }
}

@media (max-width: 500px) {

    .ajusteImg,
    .ajusteImgStar svg {
        width: 15px;
    }

}