.transparenciaBox1,
.singleContainerUsuarios {
    padding: 30px 40px;
    border-radius: 20px;
}

.containerDadosGerais {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 60px;
    justify-content: center;
}

.containerUsuarios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.tamanho {
    display: flex;
    justify-content: center;
    max-width: 375px;
    margin: 0 auto;
}


@media (max-width: 1200px) {
    .containerUsuarios {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

@media (max-width: 800px) {
    .containerDadosGerais {
        gap: 15px;
    }

    .tamanho {
        max-width: 250px;
    }
    .transparenciaBox1,
    .singleContainerUsuarios {
        padding: 15px 10px;
    }
}

@media (max-width: 500px) {
    .containerDadosGerais {
        gap: 5px;
    }
}