:root {
  --footer-bg-1: #F6303F;
  --footer-bg-2: #2F2E41;
  --white: #FFFFFF;
  --navlink: #2F2E41;
  --navlinkHover: #707070;
  --breadcrumbGrey: #808080;
  --grey: #F5F5F7;
  --qtdPags: #2F2E41;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1rem;
  line-height: 20px;
}

.containerPages {
  max-width: 1100px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}

#marginTopPages {
  margin-top: 120px;
}

.white {
  color: var(--white) ;
}

.bgWhite {
  background-color: var(--white) !important;
}

.bgGrey {
  background-color: var(--grey);
}

#colorBreadcrumb {
  color: var(--breadcrumbGrey) !important;
  text-decoration: none !important;
}

#colorBreadcrumb:hover {
  color: var(--navlinkHover) !important;
  text-decoration: underline !important;
}

.colorQtdPages {
  color: var(--qtdPags);
}

.bgDarkGrey {
  background-color: var(--navlinkHover);
}

.DarkGrey {
  color: var(--navlinkHover);
}

.red {
  color: var(--footer-bg-1)
}

.bgRed {
  background-color: var(--footer-bg-1);
}

.bgDarkBlue {
  background-color: var(--footer-bg-2);
}

.mb60 {
  margin-bottom: 60px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt60 {
  margin-top: 60px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb100 {
  margin-bottom: 100px;
}

.pb20 {
  padding-bottom: 20px;
}

.fontXL {
  font-size: 5rem;
}

.fontLarge {
  font-size: 2rem;
}

.fontMediumLarge {
  font-size: 1.8rem;
}

.fontMedium2 {
  font-size: 1.5rem;
}

.fontMedium {
  font-size: 1.625rem;
}

.fontSmall {
  font-size: 1.125rem !important;
}

.fontSmall2 {
  font-size: 1.25rem !important;
}

.fontUltraSmall {
  font-size: 0.8125rem;
}

.fontNormal {
  font-size: 1rem;
}

.fw400 {
  font-weight: 400;
}

.fw600 {
  font-weight: 600 !important;
}

.fw700 {
  font-weight: 700;
}

.textShadow {
  text-shadow: 2px 2px 2px rgba(.2, .2, .2, .5);
}

#mouseDefault {
  cursor: default;
}

@media (max-width: 1200px) {
  .containerPages {
    padding: 20px;
  }

  .fontXL {
    font-size: 2.5rem;
  }

  .fontMedium2 {
    font-size: 1.2rem;
  }

  .fontNormal {
    font-size: 0.9rem;
  }

  .fontSmall2 {
    font-size: 0.875rem;
  }

  .fontSmall {
    font-size: .8rem !important;
  }

  .fontMedium {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  .fontMedium2 {
    font-size: 0.875rem;
  }

  .fontSmall {
    font-size: .7rem !important;
  }

  .fontSmall2 {
    font-size: .8rem !important;
  }

  .mb60 {
    margin-bottom: 30px;
  }

  .mb30 {
    margin-bottom: 15px;
  }

  .mt60 {
    margin-top: 30px;
  }

  .mb100 {
    margin-bottom: 50px;
  }

  .fontLarge {
    font-size: 1.5rem;
  }

  .fontMediumLarge {
    font-size: 1.4rem;
  }

  .fontXL {
    font-size: 1.75rem;
  }

  .fontMedium {
    font-size: .875rem;
  }
}

@media (max-width: 500px) {
  .fontXL {
    font-size: 1rem;
  }

  .fontMedium {
    font-size: .5rem;
  }
}