:root {
  --footer-bg-1: #F6303F;
  --footer-bg-2: #2F2E41;
  --white: #FFFFFF;
  --navlink: #2F2E41;
  --navlinkHover: #707070;
  --grey: #F5F5F7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.containerPages {
  max-width: 1100px;
  text-align: center;
  margin: 0 auto;
}

.min_height {
  min-height: 75%;
}

.start {
  justify-content: flex-start;
}

.start-line {
  align-items: flex-start;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}

.white {
  color: var(--white);
}

.bgWhite {
  background-color: var(--white);
}

.bgGrey {
  background-color: var(--grey);
}

.bgDarkGrey {
  background-color: var(--navlinkHover);
}

.red {
  color: var(--footer-bg-1)
}

.bgRed {
  background-color: var(--footer-bg-1);
}

.bgDarkBlue {
  background-color: var(--footer-bg-2);
}

.mb60 {
  margin-bottom: 60px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt60 {
  margin-top: 60px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb100 {
  margin-bottom: 100px;
}

.pb20 {
  padding-bottom: 20px;
}

.fontXL {
  font-size: 5rem;
}

.fontLarge {
  font-size: 2rem;
}

.fontMediumLarge {
  font-size: 1.8rem;
}

.fontMedium2 {
  font-size: 1.5rem;
}

.fontMedium {
  font-size: 1.625rem;
}

.fontSmall {
  font-size: 1.125rem;
}

.fontSmall2 {
  font-size: 1.25rem;
}

.fontUltraSmall {
  font-size: 0.8125rem;
}

.fw400 {
  font-weight: 400;
}

.fw600 {
  font-weight: 600;
}

.textShadow {
  text-shadow: 2px 2px 2px rgba(.2, .2, .2, .5);
}

#mouseDefault {
  cursor: default;
}

@media (max-width: 1200px) {
  .fontXL {
    font-size: 2.5rem;
  }

  .fontMedium2 {
    font-size: 1.2rem;
  }

  .fontSmall2 {
    font-size: 0.875rem;
  }

  .fontMedium {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  .mb60 {
    margin-bottom: 30px;
  }

  .mt60 {
    margin-top: 30px;
  }

  .mb100 {
    margin-bottom: 50px;
  }

  .fontLarge {
    font-size: 1.5rem;
  }

  .fontMediumLarge {
    font-size: 1.4rem;
  }

  .fontXL {
    font-size: 1.75rem;
  }

  .fontMedium {
    font-size: .875rem;
  }
}

@media (max-width: 500px) {
  .fontXL {
    font-size: 1rem;
  }

  .fontMedium {
    font-size: .5rem;
  }
}